* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/****HEADER****/

.header-sup {
    background-color: #222222;
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.header-sup-izq, .header-sup-der {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-sup-izq li, .header-sup-der li {
    margin: 5px;
    color: #F3F3F3;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.header-sup2 {
    display: flex;
    background-color: #F0A83E;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.img-logo {
    width: 166.38px;
    height: 23px;
}

/****MENÙ HEADER****/

.menu-ul {
    list-style: none;
    display: flex;
}

.menu-ul li a {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    margin-right: 15px;
}

.fa-paw {
    color: white;
    margin-right: 3px;
} 

/****MAIN - Principal-Portada****/ 
/****Imagen Principal****/

#img-principal {
    background-image: url(../img/Slide.png);
    background-size: cover;
    height: 409px;
    display: flex;
    justify-content: flex-end;
}

/****Titulos****/

.titulos-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 156px;
    margin-right: 12px;
}

.titulo-principal {
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #3C2313;
    padding: 9px 10px;
    margin-bottom: 12px;
}

.titulo-secundario {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3C2313;
    text-align: center;
    margin-bottom: 12px;
}

.button-principal {
    background-color: #F0A83E;
    border: none;
    color: white;
    padding: 15px 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/****Secciòn Productos destacados****/

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-patita {
    width: 70px;
    color: #3C2313;
    font-weight: bold;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-destacados {
    width: 406px;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav li {
    color: rgb(99, 97, 97);
    padding: 20px;
}

.nav li a{
    text-decoration: none;
    color: #666666;
}

/****SECCIÓN CARDS****/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-align: center;
}

.p-cards {
    color: #3C2313;
    padding-top: 10px;
    font-weight: bold;
    font-weight: 15px;
}

.precio {
    color: #F0A83E;
}

/****FORM****/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.title-form {
    color: #3C2313;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.input {
    background-color: #3C2313;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
}

.button-form {
    border: none;
    border-radius: 20px;
    color: white;
    width: 110px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.reset {
    background-color: #8a8787;
}

.send {
    background-color: #F0A83E;
}

/****SECCIÓN NOVEDADES****/

.newsletter {
    display: flex;
    background-color: #F0A83E;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.news {
    display: flex;
}

.fa-envelope {
    color: white;
    font-size: 40px;
    margin-right: 10px;
}

.news-titulo {
    color: white;
    size: 20px;
    margin-top: 12px;
}

.input-news {
    border-radius: 15px;
    border: none;
    width: 271px;
    height: 40px;
    padding-left: 10px;
}

::placeholder {
    color: rgb(219, 219, 219);
    font-size: 10px;
    font-weight: normal;
}

.buton-news {
    border-radius: 15px;
    border: none;
    background-color: #3C2313;
    color: white;
    width: 70px;
    height: 34px;
    font-size: 10px;
}

/****FOOTER****/

footer {
    background-color: #3C2313;
}

/****Sección Contacto****/

.section-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 70px;
}

.contacto {
    display: flex;
    color: white;
    padding: 10px 0px;
}

.contacto-img {
    margin-right: 20px;
}

.contacto-title {
    font-size: 18px;
}

.contacto-p {
    color: gray;
    font-size: 10px;
    font-weight: bold;
}

#derechos {
    background-color: #222222;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 3px;
} 